<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title>home works!</app-menu-title>
<div class="container_articles">
  <div class="aticles_main">
  <app-big-card photoCover="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
  cardTitle="Construindo um blog com Angular"
  cardDescription="Desenvolvendo um projeto angular com bootcamp FullStack"
  >
  </app-big-card>

  <app-big-card photoCover="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
  cardTitle="Construindo um blog com Angular 2"
  cardDescription="Desenvolvendo um projeto angular com bootcamp FullStack 2"
  >
  </app-big-card>

  </div>
  <div class="articles_others">
    <app-small-card
    cardTitle="Angular é um framework que maximiza o desenvolvimento frontend."
    photCover="https://logowik.com/content/uploads/images/angular9826.logowik.com.webp">
    </app-small-card>

    <app-small-card
    cardTitle="Angular é um framework que maximiza o desenvolvimento frontend."
    photCover="https://logowik.com/content/uploads/images/angularjs-by-google1122.jpg">
    </app-small-card>

    <app-small-card
    cardTitle="Angular é um framework que maximiza o desenvolvimento frontend."
    photCover="https://logowik.com/content/uploads/images/angular6660.logowik.com.webp">

    </app-small-card>
  </div>
</div>
